@font-face {
  font-family: Noirden;
  font-weight: bold;
  src: url("./assets/fonts/Noirden/Noirden-Bold.ttf");
}
@font-face {
  font-family: Noirden;
  font-weight: 600;
  src: url("./assets/fonts/Noirden/Noirden-SemiBold.ttf");
}
@font-face {
  font-family: Noirden;
  src: url("./assets/fonts/Noirden/Noirden-Regular.ttf");
}
.mobile {
  display: none;
}

.tablet {
  display: none;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Noirden";
}

.pnt {
  margin: 1em;
}

.frame {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  scroll-snap-align: start;
}

.snapbottom {
  scroll-snap-align: end;
}

.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.hero {
  overflow-x: hidden;
  overflow-y: hidden;
}

.glimpse-one {
  font-family: Noirden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.glimpse-one p {
  max-width: 1500px;
  font-size: 2em;
  width: 35vw;
  color: #5F5F5F;
  font-weight: bold;
}
.glimpse-one .p-top {
  margin-bottom: 10vh;
  width: 90vw;
  font-size: 1.7em;
  font-weight: 600;
}
.glimpse-one .h3 {
  font-size: 2em;
  line-height: 1em;
  color: black;
  max-width: 1500px;
  font-weight: bold;
}
.glimpse-one .glimpse-one-images {
  display: flex;
  align-items: center;
}
.glimpse-one .glimpse-one-image {
  width: 9vw;
  margin: 0em 1vw;
}
.glimpse-one .glimpse-one-app {
  width: 12vw;
  margin: 0em 2vw;
}

.working {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: url(./assets/working/back.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.working-slider {
  display: flex;
  max-width: 900px;
  width: 90vw;
  height: 100%;
  margin-left: 10vw;
  justify-content: center;
}
.working-slider .working-slider-image {
  width: 50vw;
  position: sticky;
  top: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.working-slider .working-slider-image img {
  height: 50vh;
  position: absolute;
  right: 0vw;
}
.working-slider .working-slider-image .congratsGif {
  height: 250px;
  margin-top: -150px;
  margin-right: 30px;
}
.working-slider .working-slider-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin-left: 10vw;
  text-align: start;
  flex-direction: column;
}
.working-slider .working-slider-text .working-slider-text-heading {
  font-size: 2em;
  font-family: "Noirden";
  font-weight: bold;
  color: black;
  margin-bottom: 0.7em;
}
.working-slider .working-slider-text .working-slider-text-paragraph {
  width: 40vw;
  font-size: 1.6em;
  text-align: left;
  font-weight: 600;
  font-family: "Noirden";
  line-height: 1.2em;
  font-weight: 600;
  color: #303030;
  margin-bottom: 0.5em;
}
.working-slider .working-slider-text .working-slider-text-sub-paragraph {
  width: 40vw;
  font-size: 1.5em;
  text-align: start;
  font-family: "Noirden";
  margin-top: 2em;
  margin-bottom: 0px;
  color: #303030;
}

.working-heading {
  font-size: 2.5em;
  font-family: "Noirden";
  font-weight: bold;
  background-image: url(./assets/working/back.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
  padding-block: 1em;
  width: 100%;
  background-color: white;
  z-index: 2;
}

.invisible {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.visible {
  opacity: 1;
  transition: opacity 0.2s linear;
}

.wow {
  width: 30vw;
}

.app-download-button {
  margin-top: 1em;
}
.app-download-button img {
  width: 13vw;
  max-width: 180px;
}

.wow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2 0.5em;
  max-width: 1000px;
}
.wow-container .wow-right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  margin-left: 5vw;
  width: 50vw;
  color: #303030;
}
.wow-container .wow-right .storebuttons .app-download-button {
  margin: 0;
}

.glimpse-two .p-top {
  margin-bottom: 100px;
  font-weight: 600;
  font-size: 1.7em;
  width: 80vw;
}
.glimpse-two .h3 {
  font-size: 2em;
  margin-bottom: -0.5em;
}

.love-back {
  background: white;
}

.love {
  text-align: left;
  margin-left: 5vw;
  width: 50vw;
  color: #303030;
}
.love a {
  margin-right: 20px;
}

.sub-paragraph-love {
  font-size: 1em;
  margin-top: 1em;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  font-size: 1.5em;
  padding: 1em;
  color: white;
  font-family: "Noirden";
  font-weight: bold;
}
.footer span {
  margin-right: 30px;
}
.footer span a {
  text-decoration: none;
  color: white;
}

.glimpse-one-image-sm {
  width: 100%;
  margin: 0em 1vw;
}

.storebuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.storebuttons .app-download-button img {
  width: 20vw;
}

.header {
  background: url("./assets/hero/hero-back.svg");
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  height: 70px;
}
.header .logo {
  margin-left: 5vw;
}
.header .logo img {
  width: 100px;
}
.header .header-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-right a {
  margin-right: 3vw;
  text-decoration: none;
  color: #5F5F5F;
  font-size: 28px;
}
.header .header-right button {
  background: none;
  margin-top: 0.6em;
  border: none;
}
.header .header-right button img {
  width: 30px;
}

.hero-part {
  background: url("./assets/hero/hero-back.svg");
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100% - 135px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-part .main-text {
  display: flex;
  flex-wrap: wrap;
  margin-top: -100px;
  justify-content: center;
  align-items: center;
  width: 70vw;
  max-width: 1000px;
  margin-bottom: 70px;
  font-size: 100px;
  font-variant-caps: all-petite-caps;
}
.hero-part .main-text span {
  margin-block-end: 0px;
  margin: 1px;
  padding-block-start: 0px;
  font-weight: 700;
  line-height: 70px;
}
.hero-part .main-text span::after {
  content: " ";
  display: inline-block;
  margin-top: 0em;
}
.hero-part .main-text span::before {
  content: " ";
  display: inline-block;
  margin-top: 0em;
}
.hero-part .main-text .diff-color {
  color: #CE8201;
}
.hero-part .main-text .storebuttons {
  margin-top: 4em;
}

.coins-left-1 {
  animation-delay: 2s;
}

.coins-left-2 {
  animation-delay: 0s;
}

.coins-left {
  position: relative;
  top: -50vh;
  left: -30vw;
  width: 200px;
  z-index: 100;
  animation: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
}

.arrow-image {
  width: 70px;
  position: relative;
  left: 18vw;
  margin-bottom: -50px;
  margin-top: -60px;
  z-index: 0;
}

.arrow-down {
  position: relative;
  bottom: 50px;
  width: 30px;
  animation: floating;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.panel {
  position: absolute;
  right: -40vw;
  top: 0;
  width: 20vw;
  height: 100%;
  font-size: 1.8em;
  text-align: left;
  padding: 1em;
  padding-top: 1.6em;
  padding-inline: 2em;
  display: none;
  z-index: 3;
  background-color: rgb(240, 240, 211);
  box-shadow: -5px 0px 10px -8px grey;
}
.panel div {
  margin-bottom: 1em;
}
.panel div a {
  text-decoration: none;
  color: black;
}
.panel .close-button {
  display: flex;
  width: 95%;
  justify-content: right;
  margin-bottom: 2em;
}
.panel .close-button button {
  background: none;
  border: none;
}
.panel .close-button button img {
  width: 30px;
}

.panel-enter-done {
  right: 0;
  transition: 0.3s;
  display: block;
}

.panel-enter-active {
  right: -40vw;
  display: block;
}

.panel-exit-done {
  right: -40vw;
  display: none;
  transition: 0.3s;
}

.panel-exit-active {
  right: 0;
  display: block;
}

.working-slider-text-inner .storebuttons .app-download-button {
  margin: 10px;
  margin-left: 0;
}

.storebuttons-in-glimpse-two .app-download-button {
  padding-inline-end: 10px;
}

.coinFlip:hover {
  animation: flipCoin 0.5s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.coin1 {
  position: relative;
  top: -50vh;
  left: -30vw;
  width: 50px;
  animation-name: floating, blur;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.coin2 {
  position: relative;
  top: -50vh;
  left: 25vw;
  width: 30px;
  filter: blur(2px);
  animation-name: floating, blur;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.coin3 {
  position: relative;
  top: -77vh;
  left: 10vw;
  width: 70px;
  animation-name: floating, blur;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.coin4 {
  position: relative;
  top: -60vh;
  left: 30vw;
  width: 50px;
  animation-name: floating, blur;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.coin5 {
  position: relative;
  top: -40vh;
  left: -30vw;
  width: 30px;
  animation-name: floating, blur;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.coin6 {
  position: relative;
  top: -80vh;
  left: -30vw;
  width: 50px;
  transform: rotate(70deg);
  animation-name: floating, blur;
  animation-delay: 0;
  animation-timing-function: ease-in-out;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  30% {
    filter: blur(0px);
  }
  50% {
    filter: blur(4px);
  }
  70% {
    filter: blur(0px);
  }
  100% {
    filter: blur(0px);
  }
}
@keyframes flipCoin {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.coindiv {
  height: 0;
}

@media screen and (max-width: 1410px) {
  .tablet {
    display: none;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .glimpse-one p {
    font-size: 1.4;
  }
  .glimpse-one .p-top {
    width: 68vw;
    margin-top: 1em;
    margin-bottom: 10vh;
    font-size: 2em;
    font-weight: 600;
  }
  .glimpse-one .h3 {
    width: 70vw;
    font-size: 2.5em;
  }
  .glimpse-two .p-top {
    font-size: 1.4em;
    margin-top: 1.4em;
    font-weight: 600;
  }
  .glimpse-two .h3 {
    font-size: 3em;
  }
  .storebuttons-in-glimpse-two .app-download-button {
    padding: 10px;
  }
  .hero-part .main-text {
    width: 80vw;
    max-width: 1000px;
    margin-bottom: 70px;
    font-size: 70px;
    font-variant-caps: all-petite-caps;
  }
  .hero-part .main-text span {
    margin-block-end: 0px;
    margin: 1px;
    padding-block-start: 0px;
    line-height: 70px;
  }
  .hero-part .main-text .diff-color {
    color: #CE8201;
  }
  .hero-part .main-text .storebuttons {
    margin-top: 5em;
  }
  .working-slider-text {
    width: 60vw;
    justify-content: start;
    margin: 0;
    margin-left: 5vw;
  }
  .working-slider-text .working-slider-text-paragraph {
    font-size: 2.5em;
    font-weight: 600;
    width: 100%;
  }
  .arrow-image {
    width: 70px;
    position: relative;
    left: 25vw;
    margin-bottom: -20px;
    margin-top: -60px;
    z-index: 0;
  }
  .wow-container .wow {
    width: 30vw;
  }
  .wow-container .wow-right {
    width: 70vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .wow-container .wow-right p {
    margin-top: 5vh;
    width: 70vw;
    font-weight: 500;
    font-size: 2em;
  }
  .panel {
    width: 30vw;
    font-size: 1.7em;
  }
  .panel div {
    margin-bottom: 1em;
  }
  .working-slider-text-inner .storebuttons .app-download-button {
    margin: 5px;
    margin-left: 0;
  }
}
@media screen and (max-width: 1000px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
  }
  .glimpse-one-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .glimpse-one-tab .glimpse-one-app {
    height: 40vh;
    width: inherit;
    margin: 2em;
  }
  .glimpse-one-tab .glimpse-one-image {
    width: 14vw;
  }
  .glimpse-one p {
    font-size: 1.5em;
    margin: 1em;
    margin-top: 0px;
  }
  .glimpse-one .p-top {
    width: 70vw;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 5vh;
    font-weight: 600;
  }
  .glimpse-one .h3 {
    width: 70vw;
  }
  .glimpse-two p {
    width: 80vw;
    font-size: 1.5em;
  }
  .glimpse-two .p-top {
    margin-bottom: 100px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.4em;
    width: 82vw;
  }
  .glimpse-two .h3 {
    width: 90vw;
    text-align: center;
    margin-bottom: 0.3em;
  }
  .glimpse-two .wow {
    margin-bottom: 2em;
  }
  .wow-container .wow {
    width: 50vw;
  }
  .wow-container .wow-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    text-align: center;
  }
  .wow-container .wow-right p {
    margin-top: 10px;
    font-size: 1.5em;
  }
  .storebuttons {
    margin-top: 0.2em;
  }
  .storebuttons .app-download-button img {
    width: 20vw;
  }
  .footer {
    font-size: 1em;
  }
  .footer span {
    margin-right: 10px;
  }
  .working-slider-image {
    width: 30vw;
    height: inherit;
    margin-right: 10vw;
  }
  .working-slider-text {
    width: 60vw;
    justify-content: start;
    margin: 0;
    margin-left: -5vw;
  }
  .working-slider-text .working-slider-text-paragraph {
    font-size: 2.5em;
    font-weight: 600;
    width: 100%;
  }
  .arrow-image {
    width: 70px;
    position: relative;
    left: 25vw;
    margin-bottom: -20px;
    margin-top: -60px;
    z-index: 0;
  }
  .panel {
    width: 45vw;
  }
  .working .working-heading {
    font-size: 4em;
    padding-block: 0.5em;
  }
  .working .working-slider {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .working .working-slider .working-slider-image {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
    margin-right: 0px;
  }
  .working .working-slider .working-slider-image img {
    right: inherit;
    top: 14vh;
    width: auto;
    height: 45vh;
  }
  .working .working-slider .working-slider-image .congratsGif {
    height: auto;
    margin-top: 30px;
    height: 20vh;
    margin-right: 0px;
  }
  .working .working-slider .working-slider-text {
    width: 90vw;
    justify-content: end;
    align-items: center;
    padding-bottom: 10vh;
    max-height: 95vh;
    margin: 1px;
  }
  .working .working-slider .working-slider-text .working-slider-text-inner {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .working .working-slider .working-slider-text .working-slider-text-inner .working-slider-text-heading {
    font-size: 2em;
    width: 95%;
    margin-bottom: 1em;
    font-weight: bold;
    text-align: center;
  }
  .working .working-slider .working-slider-text .working-slider-text-inner .working-slider-text-paragraph {
    font-size: 2em;
    width: 80%;
    font-weight: 600;
    text-align: center;
  }
  .working .working-slider .working-slider-text .working-slider-text-inner .working-slider-text-sub-paragraph {
    font-size: 1.4em;
    width: 90%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .working .working-slider-image-back {
    background: url(./assets/working/back.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1.2;
    height: 60vh;
  }
  .working .love-slider-image-back {
    background-color: white;
    height: 105vw;
  }
  .coin1 {
    left: -20vw;
    padding: 1em;
  }
  .coin3 {
    top: -85vh;
    width: 50px;
  }
  .coin6 {
    top: -80vh;
    width: 40px;
  }
  .coin5 {
    top: -30vh;
  }
}
.slider-love .storebuttons {
  justify-content: start;
}
.slider-love .storebuttons .app-download-button {
  margin: 0;
}
.slider-love .working-slider-text-inner .storebuttons .app-download-button {
  margin: 5px;
  margin-left: 0;
}

@media screen and (max-width: 650px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: block;
  }
  .glimpse-one-app-sm {
    height: 30vh;
    width: inherit;
  }
  .glimpse-one {
    background-color: #F6F6F6;
  }
  .glimpse-one .h3 {
    font-size: 2.5em;
  }
  .glimpse-one p {
    font-size: 1.4em;
    margin: 1em;
  }
  .glimpse-one .p-top {
    margin-bottom: 8vh;
    font-size: 1.6em;
  }
  .wow-container .wow {
    width: 60vw;
  }
  .glimpse-two .p-top {
    margin-bottom: 6vh;
    font-weight: 600;
    font-size: 2em;
  }
  .glimpse-two .wow {
    margin-bottom: 5vh;
  }
  .hero-part .main-text {
    font-size: 60px;
  }
  .hero-part .main-text span {
    line-height: 50px;
  }
  .storebuttons .app-download-button {
    width: -moz-min-content;
    width: min-content;
  }
  .storebuttons .app-download-button img {
    width: 20vw;
  }
  .working .working-heading {
    font-size: 2em;
    padding-block: 0.5em;
  }
  .working .working-slider {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .working .working-slider .working-slider-image {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
    margin-right: 0px;
  }
  .working .working-slider .working-slider-image img {
    right: inherit;
    top: 14vh;
    width: auto;
    height: 45vh;
  }
  .working .working-slider .working-slider-text {
    width: 90vw;
    justify-content: end;
    align-items: center;
    padding-bottom: 10vh;
    max-height: 95vh;
    margin: 1px;
  }
  .working .working-slider .working-slider-text .working-slider-text-inner {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .working .working-slider .working-slider-text .working-slider-text-inner .working-slider-text-heading {
    font-size: 2em;
    width: 95%;
    margin-bottom: 1em;
    font-weight: bold;
    text-align: center;
  }
  .working .working-slider .working-slider-text .working-slider-text-inner .working-slider-text-paragraph {
    font-size: 1.2em;
    width: 80%;
    font-weight: 600;
    text-align: center;
  }
  .working .working-slider .working-slider-text .working-slider-text-inner .working-slider-text-sub-paragraph {
    font-size: 0.8em;
    width: 90%;
    text-align: center;
  }
  .working .working-slider-image-back {
    background-image: url(./assets/working/back.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1.2;
    height: 60vh;
  }
  .working .love-slider-image-back {
    background-color: white;
    height: 105vw;
  }
  .slider-love .working-slider-text-paragraph {
    font-size: 0.2em;
    font-weight: 600;
  }
  .footer {
    font-size: 0.6em;
  }
  .footer span {
    margin-right: 10px;
  }
  .storebuttons-in-hero {
    width: 100%;
  }
  .storebuttons-in-hero .app-download-button img {
    width: 100px;
    padding: 10px;
    width: 150px;
  }
  .panel {
    width: 300px;
    height: 100vh;
  }
  .panel-enter-done {
    right: 0;
    transition: 0.3s;
    display: block;
  }
  .panel-enter-active {
    right: -400px;
    display: block;
  }
  .panel-exit-active {
    right: 0;
    display: block;
  }
  .panel-exit-done {
    right: -400px;
    display: none;
    transition: 0.3s;
  }
  .storebuttons-in-glimpse-two {
    width: 100%;
    padding: inherit;
  }
  .storebuttons-in-glimpse-two .app-download-button {
    margin: 0px 5px;
  }
  .storebuttons-in-glimpse-two .app-download-button img {
    margin: inherit;
    width: 150px;
  }
  .working-slider-text-inner .storebuttons .app-download-button {
    margin: 5px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: block;
  }
  .header .logo img {
    width: 70px;
  }
  .glimpse-one-app-sm {
    width: inherit;
    height: 40vh;
  }
  .glimpse-one {
    background-color: #F6F6F6;
  }
  .glimpse-one .h3 {
    font-size: 1.7em;
    width: 100vw;
  }
  .glimpse-one p {
    font-size: 1em;
    width: 100vw;
  }
  .glimpse-one .p-top {
    width: 90vw;
  }
  .glimpse-two p {
    font-size: 1.2em;
    width: 90vw;
  }
  .glimpse-two .p-top {
    margin-bottom: 7vh;
    font-weight: 600;
    font-size: 1.5em;
  }
  .glimpse-two .h3 {
    margin-bottom: 0.3em;
    width: 90vw;
  }
  .glimpse-two .wow {
    margin-bottom: 2vh;
    width: 70vw;
  }
  .glimpse-two .wow-right {
    width: 90vw;
  }
  .glimpse-two .wow-right p {
    font-size: 1.2em;
  }
  .glimpse-two .storebuttons-in-glimpse-two {
    width: 100%;
  }
  .glimpse-two .storebuttons-in-glimpse-two .app-download-button img {
    padding-block: 10px;
    width: 150px;
  }
  .storebuttons-in-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: -50px;
  }
  .storebuttons-in-hero .app-download-button {
    margin: 0;
  }
  .storebuttons-in-hero .app-download-button img {
    width: 100px;
    width: 150px;
  }
  .hero-part .main-text {
    font-size: 50px;
  }
  .hero-part .main-text span {
    line-height: 40px;
  }
  .arrow-image {
    margin-bottom: 70px;
  }
  .storebuttons-in-hero .app-download-button img {
    width: 250px;
  }
  .panel {
    position: absolute;
    width: 90%;
    top: -40vw;
    height: 40vh;
    right: inherit;
    left: 0;
    font-size: 1.2em;
    bottom: inherit;
    display: none;
    margin: inherit;
    padding-top: 2.5em;
    padding-inline: 2em;
    box-shadow: px 5px 10px -8px grey;
  }
  .close-button {
    width: calc(100vh - 10em);
  }
  .item {
    font-size: 1.2em;
  }
  .panel-enter-done {
    top: 0px;
    left: inherit;
    transition: 0.3s;
    display: block;
  }
  .panel-enter-active {
    transform: inherit;
    top: -40vh;
    left: inherit;
    display: block;
  }
  .panel-exit-active {
    top: 0px;
    transform: inherit;
    left: inherit;
    display: block;
  }
  .panel-exit-done {
    top: -40vh;
    display: none;
    transform: inherit;
    left: inherit;
    transition: 0.3s;
  }
  .storebuttons-in-glimpse-two {
    flex-direction: row;
  }
  .coin1 {
    width: 20px;
  }
  .coin6 {
    left: -60vw;
    width: 30px;
  }
  .coin3 {
    left: 30vw;
    width: 40px;
  }
  .coin4 {
    width: 35px;
    left: 25vw;
  }
  .coin5 {
    display: none;
  }
}
@media screen and (max-width: 480px) and (max-height: 780px) {
  .coin2 {
    left: 40vw;
  }
  .coin6 {
    top: -85vh;
  }
  .header {
    padding: 1em;
  }
  .storebuttons-in-hero .app-download-button img {
    width: 150px;
  }
  .hero-part .main-text {
    font-size: 40px;
  }
  .hero-part .main-text span {
    line-height: 40px;
  }
  .arrow-image {
    width: 50px;
    margin-top: -90px;
    margin-bottom: 50px;
  }
  .glimpse-one {
    justify-content: center;
    align-items: center;
  }
  .glimpse-one .h3 {
    font-size: 1.4em;
    margin-top: 30px;
  }
  .glimpse-one .p-top {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  .glimpse-one .glimpse-one-app-sm {
    height: 35vh;
    width: inherit;
  }
  .glimpse-two p {
    width: 95vw;
  }
  .glimpse-two .wow {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 70vw;
  }
  .glimpse-two .p-top {
    background-color: inherit;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .glimpse-two .storebuttons-in-glimpse-two {
    margin-top: inherit;
  }
  .glimpse-two .storebuttons-in-glimpse-two .app-download-button img {
    padding-top: 0;
    padding-inline: 0;
    padding-bottom: 5px;
    width: 120px;
  }
  .working .working-slider .working-slider-image {
    height: 55vh;
  }
  .working .working-slider .working-slider-image img {
    height: 40vh;
  }
  .working .working-slider .working-slider-text .working-slider-text-inner .working-slider-text-heading {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
  }
  .working .working-slider .working-slider-text .working-slider-text-inner .working-slider-text-paragraph {
    font-size: 1.2em;
    font-weight: 600;
  }
  .working .working-slider .working-slider-text .working-slider-text-inner .working-slider-text-sub-paragraph {
    margin-bottom: 0px;
  }
  .working .working-heading {
    font-size: 1.5em;
  }
  .working .storebuttons .app-download-button img {
    width: 100px;
  }
  .hero-part {
    height: calc(100% - 100px);
  }
}/*# sourceMappingURL=styles.css.map */